In [142]:
#Importing Necessary Libraries and Creating the Spark Application
from pyspark.sql import SparkSession,functions as func

sparkApp = SparkSession.builder \
    .appName("Data Transformation") \
    .getOrCreate()

In [122]:
df = sparkApp.read \
    .format("jdbc") \
    .option("url", "jdbc:mysql://localhost:3306/bigdataproj") \
    .option("dbtable", "transaction") \
    .option("user", "root") \
    .option("password", "") \
    .load()

In [123]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- accountNumber: string (nullable = true)
 |-- customerId: string (nullable = true)
 |-- creditLimit: decimal(10,2) (nullable = true)
 |-- availableMoney: decimal(10,2) (nullable = true)
 |-- currentBalance: decimal(10,2) (nullable = true)
 |-- transactionDateTime: timestamp (nullable = true)
 |-- transactionAmount: decimal(10,2) (nullable = true)
 |-- merchantName: string (nullable = true)
 |-- acqCountry: string (nullable = true)
 |-- merchantCountryCode: string (nullable = true)
 |-- posEntryMode: string (nullable = true)
 |-- posConditionCode: string (nullable = true)
 |-- merchantCategoryCode: string (nullable = true)
 |-- cardPresent: boolean (nullable = true)
 |-- currentExpDate: string (nullable = true)
 |-- accountOpenDate: date (nullable = true)
 |-- dateOfLastAddressChange: date (nullable = true)
 |-- cardCVV: string (nullable = true)
 |-- enteredCVV: string (nullable = true)
 |-- cardLast4Digits: string (nullable = true)
 |-- transactionType: string (nullable = true)
 |-- echoBuffer: string (nullable = true)
 |-- merchantCity: string (nullable = true)
 |-- merchantState: string (nullable = true)
 |-- merchantZip: string (nullable = true)
 |-- posOnPremises: string (nullable = true)
 |-- recurringAuthInd: string (nullable = true)
 |-- expirationDateKeyInMatch: boolean (nullable = true)
 |-- isFraud: boolean (nullable = true)

In [124]:
df.show(10)

+---+-------------+----------+-----------+--------------+--------------+-------------------+-----------------+--------------------+----------+-------------------+------------+----------------+--------------------+-----------+--------------+---------------+-----------------------+-------+----------+---------------+---------------+----------+------------+-------------+-----------+-------------+----------------+------------------------+-------+
| id|accountNumber|customerId|creditLimit|availableMoney|currentBalance|transactionDateTime|transactionAmount|        merchantName|acqCountry|merchantCountryCode|posEntryMode|posConditionCode|merchantCategoryCode|cardPresent|currentExpDate|accountOpenDate|dateOfLastAddressChange|cardCVV|enteredCVV|cardLast4Digits|transactionType|echoBuffer|merchantCity|merchantState|merchantZip|posOnPremises|recurringAuthInd|expirationDateKeyInMatch|isFraud|
+---+-------------+----------+-----------+--------------+--------------+-------------------+-----------------+--------------------+----------+-------------------+------------+----------------+--------------------+-----------+--------------+---------------+-----------------------+-------+----------+---------------+---------------+----------+------------+-------------+-----------+-------------+----------------+------------------------+-------+
|  1|    737265056| 737265056|    5000.00|       5000.00|          0.00|2016-08-13 14:27:32|            98.55|                Uber|        US|                 US|          02|              01|           rideshare|      false|       06/2023|     2015-03-14|             2015-03-14|    414|       414|           1803|       PURCHASE|          |            |             |           |             |                |                   false|  false|
|  2|    737265056| 737265056|    5000.00|       5000.00|          0.00|2016-10-11 05:05:54|            74.51|         AMC #191138|        US|                 US|          09|              01|       entertainment|       true|       02/2024|     2015-03-14|             2015-03-14|    486|       486|            767|       PURCHASE|          |            |             |           |             |                |                   false|  false|
|  3|    737265056| 737265056|    5000.00|       5000.00|          0.00|2016-11-08 09:18:39|             7.47|          Play Store|        US|                 US|          09|              01|          mobileapps|      false|       08/2025|     2015-03-14|             2015-03-14|    486|       486|            767|       PURCHASE|          |            |             |           |             |                |                   false|  false|
|  4|    737265056| 737265056|    5000.00|       5000.00|          0.00|2016-12-10 02:14:50|             7.47|          Play Store|        US|                 US|          09|              01|          mobileapps|      false|       08/2025|     2015-03-14|             2015-03-14|    486|       486|            767|       PURCHASE|          |            |             |           |             |                |                   false|  false|
|  5|    830329091| 830329091|    5000.00|       5000.00|          0.00|2016-03-24 21:04:46|            71.18| Tim Hortons #947751|        US|                 US|          02|              01|            fastfood|       true|       10/2029|     2015-08-06|             2015-08-06|    885|       885|           3143|       PURCHASE|          |            |             |           |             |                |                   false|  false|
|  6|    830329091| 830329091|    5000.00|       5000.00|          0.00|2016-04-19 16:24:27|            30.76|    In-N-Out #422833|        US|                 US|          02|              01|            fastfood|       true|       01/2020|     2015-08-06|             2015-08-06|    885|       885|           3143|       PURCHASE|          |            |             |           |             |                |                   false|  false|
|  7|    830329091| 830329091|    5000.00|       5000.00|          0.00|2016-05-21 14:50:35|            57.28|Krispy Kreme #685312|        US|                 US|          02|              01|            fastfood|       true|       05/2020|     2015-08-06|             2015-08-06|    885|       885|           3143|       PURCHASE|          |            |             |           |             |                |                   false|  false|
|  8|    830329091| 830329091|    5000.00|       5000.00|          0.00|2016-06-03 00:31:21|             9.37| Shake Shack #968081|        US|                 US|          05|              01|            fastfood|       true|       01/2021|     2015-08-06|             2015-08-06|    885|       885|           3143|       PURCHASE|          |            |             |           |             |                |                   false|  false|
|  9|    830329091| 830329091|    5000.00|       4990.63|          9.37|2016-06-10 01:21:46|           523.67| Burger King #486122|          |                 US|          02|              01|            fastfood|       true|       08/2032|     2015-08-06|             2015-08-06|    885|       885|           3143|       PURCHASE|          |            |             |           |             |                |                   false|  false|
| 10|    830329091| 830329091|    5000.00|       5000.00|          0.00|2016-07-11 10:47:16|           164.37|   Five Guys #510989|        US|                 US|          05|              08|            fastfood|       true|       04/2020|     2015-08-06|             2015-08-06|    885|       885|           3143|       PURCHASE|          |            |             |           |             |                |                   false|  false|
+---+-------------+----------+-----------+--------------+--------------+-------------------+-----------------+--------------------+----------+-------------------+------------+----------------+--------------------+-----------+--------------+---------------+-----------------------+-------+----------+---------------+---------------+----------+------------+-------------+-----------+-------------+----------------+------------------------+-------+
only showing top 10 rows

In [125]:
#Columns with only NULL Values, Does not contribute to the EDA process due to Data Loss
COLUMNS_TO_DROP = ['echoBuffer','merchantState','merchantZip','recurringAuthInd','posOnPremises','merchantCity']

df = df.drop(*COLUMNS_TO_DROP)

In [126]:
#Schema of the dataset
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- accountNumber: string (nullable = true)
 |-- customerId: string (nullable = true)
 |-- creditLimit: decimal(10,2) (nullable = true)
 |-- availableMoney: decimal(10,2) (nullable = true)
 |-- currentBalance: decimal(10,2) (nullable = true)
 |-- transactionDateTime: timestamp (nullable = true)
 |-- transactionAmount: decimal(10,2) (nullable = true)
 |-- merchantName: string (nullable = true)
 |-- acqCountry: string (nullable = true)
 |-- merchantCountryCode: string (nullable = true)
 |-- posEntryMode: string (nullable = true)
 |-- posConditionCode: string (nullable = true)
 |-- merchantCategoryCode: string (nullable = true)
 |-- cardPresent: boolean (nullable = true)
 |-- currentExpDate: string (nullable = true)
 |-- accountOpenDate: date (nullable = true)
 |-- dateOfLastAddressChange: date (nullable = true)
 |-- cardCVV: string (nullable = true)
 |-- enteredCVV: string (nullable = true)
 |-- cardLast4Digits: string (nullable = true)
 |-- transactionType: string (nullable = true)
 |-- expirationDateKeyInMatch: boolean (nullable = true)
 |-- isFraud: boolean (nullable = true)

In [127]:
df.show(5)

+---+-------------+----------+-----------+--------------+--------------+-------------------+-----------------+-------------------+----------+-------------------+------------+----------------+--------------------+-----------+--------------+---------------+-----------------------+-------+----------+---------------+---------------+------------------------+-------+
| id|accountNumber|customerId|creditLimit|availableMoney|currentBalance|transactionDateTime|transactionAmount|       merchantName|acqCountry|merchantCountryCode|posEntryMode|posConditionCode|merchantCategoryCode|cardPresent|currentExpDate|accountOpenDate|dateOfLastAddressChange|cardCVV|enteredCVV|cardLast4Digits|transactionType|expirationDateKeyInMatch|isFraud|
+---+-------------+----------+-----------+--------------+--------------+-------------------+-----------------+-------------------+----------+-------------------+------------+----------------+--------------------+-----------+--------------+---------------+-----------------------+-------+----------+---------------+---------------+------------------------+-------+
|  1|    737265056| 737265056|    5000.00|       5000.00|          0.00|2016-08-13 14:27:32|            98.55|               Uber|        US|                 US|          02|              01|           rideshare|      false|       06/2023|     2015-03-14|             2015-03-14|    414|       414|           1803|       PURCHASE|                   false|  false|
|  2|    737265056| 737265056|    5000.00|       5000.00|          0.00|2016-10-11 05:05:54|            74.51|        AMC #191138|        US|                 US|          09|              01|       entertainment|       true|       02/2024|     2015-03-14|             2015-03-14|    486|       486|            767|       PURCHASE|                   false|  false|
|  3|    737265056| 737265056|    5000.00|       5000.00|          0.00|2016-11-08 09:18:39|             7.47|         Play Store|        US|                 US|          09|              01|          mobileapps|      false|       08/2025|     2015-03-14|             2015-03-14|    486|       486|            767|       PURCHASE|                   false|  false|
|  4|    737265056| 737265056|    5000.00|       5000.00|          0.00|2016-12-10 02:14:50|             7.47|         Play Store|        US|                 US|          09|              01|          mobileapps|      false|       08/2025|     2015-03-14|             2015-03-14|    486|       486|            767|       PURCHASE|                   false|  false|
|  5|    830329091| 830329091|    5000.00|       5000.00|          0.00|2016-03-24 21:04:46|            71.18|Tim Hortons #947751|        US|                 US|          02|              01|            fastfood|       true|       10/2029|     2015-08-06|             2015-08-06|    885|       885|           3143|       PURCHASE|                   false|  false|
+---+-------------+----------+-----------+--------------+--------------+-------------------+-----------------+-------------------+----------+-------------------+------------+----------------+--------------------+-----------+--------------+---------------+-----------------------+-------+----------+---------------+---------------+------------------------+-------+
only showing top 5 rows

In [128]:
#Dropping customerId as it is equivalent to accountNumber
df=df.drop('customerId')

df.show(5)

+---+-------------+-----------+--------------+--------------+-------------------+-----------------+-------------------+----------+-------------------+------------+----------------+--------------------+-----------+--------------+---------------+-----------------------+-------+----------+---------------+---------------+------------------------+-------+
| id|accountNumber|creditLimit|availableMoney|currentBalance|transactionDateTime|transactionAmount|       merchantName|acqCountry|merchantCountryCode|posEntryMode|posConditionCode|merchantCategoryCode|cardPresent|currentExpDate|accountOpenDate|dateOfLastAddressChange|cardCVV|enteredCVV|cardLast4Digits|transactionType|expirationDateKeyInMatch|isFraud|
+---+-------------+-----------+--------------+--------------+-------------------+-----------------+-------------------+----------+-------------------+------------+----------------+--------------------+-----------+--------------+---------------+-----------------------+-------+----------+---------------+---------------+------------------------+-------+
|  1|    737265056|    5000.00|       5000.00|          0.00|2016-08-13 14:27:32|            98.55|               Uber|        US|                 US|          02|              01|           rideshare|      false|       06/2023|     2015-03-14|             2015-03-14|    414|       414|           1803|       PURCHASE|                   false|  false|
|  2|    737265056|    5000.00|       5000.00|          0.00|2016-10-11 05:05:54|            74.51|        AMC #191138|        US|                 US|          09|              01|       entertainment|       true|       02/2024|     2015-03-14|             2015-03-14|    486|       486|            767|       PURCHASE|                   false|  false|
|  3|    737265056|    5000.00|       5000.00|          0.00|2016-11-08 09:18:39|             7.47|         Play Store|        US|                 US|          09|              01|          mobileapps|      false|       08/2025|     2015-03-14|             2015-03-14|    486|       486|            767|       PURCHASE|                   false|  false|
|  4|    737265056|    5000.00|       5000.00|          0.00|2016-12-10 02:14:50|             7.47|         Play Store|        US|                 US|          09|              01|          mobileapps|      false|       08/2025|     2015-03-14|             2015-03-14|    486|       486|            767|       PURCHASE|                   false|  false|
|  5|    830329091|    5000.00|       5000.00|          0.00|2016-03-24 21:04:46|            71.18|Tim Hortons #947751|        US|                 US|          02|              01|            fastfood|       true|       10/2029|     2015-08-06|             2015-08-06|    885|       885|           3143|       PURCHASE|                   false|  false|
+---+-------------+-----------+--------------+--------------+-------------------+-----------------+-------------------+----------+-------------------+------------+----------------+--------------------+-----------+--------------+---------------+-----------------------+-------+----------+---------------+---------------+------------------------+-------+
only showing top 5 rows

In [129]:
for col in df.columns:
    numOfNullValues = df.filter(func.col(col).isNull()).count()
    print(f'Number of null values in column {col} is {numOfNullValues} \n')

Number of null values in column id is 0

Number of null values in column accountNumber is 0

Number of null values in column creditLimit is 0

Number of null values in column availableMoney is 0

Number of null values in column currentBalance is 0

Number of null values in column transactionDateTime is 0

Number of null values in column transactionAmount is 0

Number of null values in column merchantName is 0

Number of null values in column acqCountry is 0

Number of null values in column merchantCountryCode is 0

Number of null values in column posEntryMode is 0

Number of null values in column posConditionCode is 0

Number of null values in column merchantCategoryCode is 0

Number of null values in column cardPresent is 0

Number of null values in column currentExpDate is 0

Number of null values in column accountOpenDate is 0

Number of null values in column dateOfLastAddressChange is 0

Number of null values in column cardCVV is 0

Number of null values in column enteredCVV is 0

Number of null values in column cardLast4Digits is 0

Number of null values in column transactionType is 0

Number of null values in column expirationDateKeyInMatch is 0

Number of null values in column isFraud is 0

In [130]:
#Creating new features to faciliate analysis
df = df.withColumn('transactionDate',func.col('transactionDateTime').substr(0,10))

df = df.withColumn('transactionTime',func.col('transactionDateTime').substr(11,19))

df = df.drop('transactionDateTime')

In [151]:
#Ordering Columns
ORDERED_COLS = ["id", "accountNumber", "creditLimit", "availableMoney", "currentBalance", "transactionDate","transactionTime", "transactionAmount", "merchantName", "acqCountry", "merchantCountryCode", "posEntryMode", "posConditionCode", "merchantCategoryCode", "cardPresent", "currentExpDate", "accountOpenDate", "dateOfLastAddressChange", "cardCVV", "enteredCVV", "cardLast4Digits", "transactionType", "expirationDateKeyInMatch", "isFraud"]

orderedDF = df.select(*ORDERED_COLS)

orderedDF.show(1)

#Creating a new DF for further transformations
transformationDF = orderedDF

+---+-------------+-----------+--------------+--------------+---------------+---------------+-----------------+------------+----------+-------------------+------------+----------------+--------------------+-----------+--------------+---------------+-----------------------+-------+----------+---------------+---------------+------------------------+-------+
| id|accountNumber|creditLimit|availableMoney|currentBalance|transactionDate|transactionTime|transactionAmount|merchantName|acqCountry|merchantCountryCode|posEntryMode|posConditionCode|merchantCategoryCode|cardPresent|currentExpDate|accountOpenDate|dateOfLastAddressChange|cardCVV|enteredCVV|cardLast4Digits|transactionType|expirationDateKeyInMatch|isFraud|
+---+-------------+-----------+--------------+--------------+---------------+---------------+-----------------+------------+----------+-------------------+------------+----------------+--------------------+-----------+--------------+---------------+-----------------------+-------+----------+---------------+---------------+------------------------+-------+
|  1|    737265056|    5000.00|       5000.00|          0.00|     2016-08-13|       14:27:32|            98.55|        Uber|        US|                 US|          02|              01|           rideshare|      false|       06/2023|     2015-03-14|             2015-03-14|    414|       414|           1803|       PURCHASE|                   false|  false|
+---+-------------+-----------+--------------+--------------+---------------+---------------+-----------------+------------+----------+-------------------+------------+----------------+--------------------+-----------+--------------+---------------+-----------------------+-------+----------+---------------+---------------+------------------------+-------+
only showing top 1 row

In [163]:
#Handling NULL Values in 'acqCountry' column by filling them using Mode
transformationDF.groupBy('acqCountry').count().show()

#Acquiring the mode value and storing it in a variable
acqCountryMode = transformationDF.select(func.mode("acqCountry")).first()[0]

#Filling NULL values in the 'acqCountry' using the Mode Value
finalDF = transformationDF.fillna({'acqCountry':acqCountryMode})

+----------+-----+
|acqCountry|count|
+----------+-----+
|        CA|  156|
|        ME|  208|
|        US|49258|
|          |  264|
|        PR|  113|
+----------+-----+

In [156]:
# Write the results back to MySQL
finalDF.write.format("jdbc") \
    .option("url", "jdbc:mysql://localhost:3306/bigdataproj") \
    .option("dbtable", "fraudtransactions") \
    .option("user", "root") \
    .option("password", "") \
    .mode("overwrite")\
    .save()
print("Data inserted into database successfully")

Data inserted into database successfully

In [ ]:
sparkApp.stop()